torch                                                                                                      
torchvision                                                                                                
Pillow                                                                                                     
networkx                                                                                                   
numpy                                                                                                      
matplotlib                                                                                                 
pyyaml  
